<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.web.mapper.CarEngineOilMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.CarEngineOil" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="engine_oil_enough" property="engineOilEnough" jdbcType="INTEGER" />
    <result column="oil_clutch_enough" property="oilClutchEnough" jdbcType="INTEGER" />
    <result column="oil_break_enough" property="oilBreakEnough" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, engine_oil_enough, oil_clutch_enough, 
    oil_break_enough, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_car_engine_oil
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_car_engine_oil
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iflytransporter.common.bean.CarEngineOil" >
    insert into t_car_engine_oil (id, create_date, update_date, 
      data_status, desp, engine_oil_enough, 
      oil_clutch_enough, oil_break_enough, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{dataStatus,jdbcType=SMALLINT}, #{desp,jdbcType=VARCHAR}, #{engineOilEnough,jdbcType=INTEGER}, 
      #{oilClutchEnough,jdbcType=INTEGER}, #{oilBreakEnough,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.CarEngineOil" >
    insert into t_car_engine_oil
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="engineOilEnough != null" >
        engine_oil_enough,
      </if>
      <if test="oilClutchEnough != null" >
        oil_clutch_enough,
      </if>
      <if test="oilBreakEnough != null" >
        oil_break_enough,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="engineOilEnough != null" >
        #{engineOilEnough,jdbcType=INTEGER},
      </if>
      <if test="oilClutchEnough != null" >
        #{oilClutchEnough,jdbcType=INTEGER},
      </if>
      <if test="oilBreakEnough != null" >
        #{oilBreakEnough,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.CarEngineOil" >
    update t_car_engine_oil
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="engineOilEnough != null" >
        engine_oil_enough = #{engineOilEnough,jdbcType=INTEGER},
      </if>
      <if test="oilClutchEnough != null" >
        oil_clutch_enough = #{oilClutchEnough,jdbcType=INTEGER},
      </if>
      <if test="oilBreakEnough != null" >
        oil_break_enough = #{oilBreakEnough,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.CarEngineOil" >
    update t_car_engine_oil
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      engine_oil_enough = #{engineOilEnough,jdbcType=INTEGER},
      oil_clutch_enough = #{oilClutchEnough,jdbcType=INTEGER},
      oil_break_enough = #{oilBreakEnough,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>