<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.web.mapper.CarSafetyEquipmentMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.CarSafetyEquipment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="driver_id" property="driverId" jdbcType="VARCHAR" />
    <result column="car_id" property="carId" jdbcType="VARCHAR" />
    <result column="safety_helmet" property="safetyHelmet" jdbcType="INTEGER" />
    <result column="safety_shoes" property="safetyShoes" jdbcType="INTEGER" />
    <result column="safety_goggle" property="safetyGoggle" jdbcType="INTEGER" />
    <result column="safety_glove" property="safetyGlove" jdbcType="INTEGER" />
    <result column="seat_belt_condition" property="seatBeltCondition" jdbcType="INTEGER" />
    <result column="cabin_jack" property="cabinJack" jdbcType="INTEGER" />
    <result column="first_aid_kit" property="firstAidKit" jdbcType="INTEGER" />
    <result column="safety_cone" property="safetyCone" jdbcType="INTEGER" />
    <result column="fire_extinguisher" property="fireExtinguisher" jdbcType="INTEGER" />
    <result column="torch_light" property="torchLight" jdbcType="INTEGER" />
    <result column="light_reflect_sticker" property="lightReflectSticker" jdbcType="INTEGER" />
    <result column="speed_limit_sticker" property="speedLimitSticker" jdbcType="INTEGER" />
    <result column="number_plate" property="numberPlate" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, company_id, driver_id, car_id, safety_helmet, 
    safety_shoes, safety_goggle, safety_glove, seat_belt_condition, cabin_jack, first_aid_kit, 
    safety_cone, fire_extinguisher, torch_light, light_reflect_sticker, speed_limit_sticker, 
    number_plate, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_car_safety_equipment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_car_safety_equipment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iflytransporter.common.bean.CarSafetyEquipment" >
    insert into t_car_safety_equipment (id, create_date, update_date, 
      data_status, desp, company_id, 
      driver_id, car_id, safety_helmet, 
      safety_shoes, safety_goggle, safety_glove, 
      seat_belt_condition, cabin_jack, first_aid_kit, 
      safety_cone, fire_extinguisher, torch_light, 
      light_reflect_sticker, speed_limit_sticker, 
      number_plate, remark)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{dataStatus,jdbcType=SMALLINT}, #{desp,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, 
      #{driverId,jdbcType=VARCHAR}, #{carId,jdbcType=VARCHAR}, #{safetyHelmet,jdbcType=INTEGER}, 
      #{safetyShoes,jdbcType=INTEGER}, #{safetyGoggle,jdbcType=INTEGER}, #{safetyGlove,jdbcType=INTEGER}, 
      #{seatBeltCondition,jdbcType=INTEGER}, #{cabinJack,jdbcType=INTEGER}, #{firstAidKit,jdbcType=INTEGER}, 
      #{safetyCone,jdbcType=INTEGER}, #{fireExtinguisher,jdbcType=INTEGER}, #{torchLight,jdbcType=INTEGER}, 
      #{lightReflectSticker,jdbcType=INTEGER}, #{speedLimitSticker,jdbcType=INTEGER}, 
      #{numberPlate,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.CarSafetyEquipment" >
    insert into t_car_safety_equipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="safetyHelmet != null" >
        safety_helmet,
      </if>
      <if test="safetyShoes != null" >
        safety_shoes,
      </if>
      <if test="safetyGoggle != null" >
        safety_goggle,
      </if>
      <if test="safetyGlove != null" >
        safety_glove,
      </if>
      <if test="seatBeltCondition != null" >
        seat_belt_condition,
      </if>
      <if test="cabinJack != null" >
        cabin_jack,
      </if>
      <if test="firstAidKit != null" >
        first_aid_kit,
      </if>
      <if test="safetyCone != null" >
        safety_cone,
      </if>
      <if test="fireExtinguisher != null" >
        fire_extinguisher,
      </if>
      <if test="torchLight != null" >
        torch_light,
      </if>
      <if test="lightReflectSticker != null" >
        light_reflect_sticker,
      </if>
      <if test="speedLimitSticker != null" >
        speed_limit_sticker,
      </if>
      <if test="numberPlate != null" >
        number_plate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="safetyHelmet != null" >
        #{safetyHelmet,jdbcType=INTEGER},
      </if>
      <if test="safetyShoes != null" >
        #{safetyShoes,jdbcType=INTEGER},
      </if>
      <if test="safetyGoggle != null" >
        #{safetyGoggle,jdbcType=INTEGER},
      </if>
      <if test="safetyGlove != null" >
        #{safetyGlove,jdbcType=INTEGER},
      </if>
      <if test="seatBeltCondition != null" >
        #{seatBeltCondition,jdbcType=INTEGER},
      </if>
      <if test="cabinJack != null" >
        #{cabinJack,jdbcType=INTEGER},
      </if>
      <if test="firstAidKit != null" >
        #{firstAidKit,jdbcType=INTEGER},
      </if>
      <if test="safetyCone != null" >
        #{safetyCone,jdbcType=INTEGER},
      </if>
      <if test="fireExtinguisher != null" >
        #{fireExtinguisher,jdbcType=INTEGER},
      </if>
      <if test="torchLight != null" >
        #{torchLight,jdbcType=INTEGER},
      </if>
      <if test="lightReflectSticker != null" >
        #{lightReflectSticker,jdbcType=INTEGER},
      </if>
      <if test="speedLimitSticker != null" >
        #{speedLimitSticker,jdbcType=INTEGER},
      </if>
      <if test="numberPlate != null" >
        #{numberPlate,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.CarSafetyEquipment" >
    update t_car_safety_equipment
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=VARCHAR},
      </if>
      <if test="safetyHelmet != null" >
        safety_helmet = #{safetyHelmet,jdbcType=INTEGER},
      </if>
      <if test="safetyShoes != null" >
        safety_shoes = #{safetyShoes,jdbcType=INTEGER},
      </if>
      <if test="safetyGoggle != null" >
        safety_goggle = #{safetyGoggle,jdbcType=INTEGER},
      </if>
      <if test="safetyGlove != null" >
        safety_glove = #{safetyGlove,jdbcType=INTEGER},
      </if>
      <if test="seatBeltCondition != null" >
        seat_belt_condition = #{seatBeltCondition,jdbcType=INTEGER},
      </if>
      <if test="cabinJack != null" >
        cabin_jack = #{cabinJack,jdbcType=INTEGER},
      </if>
      <if test="firstAidKit != null" >
        first_aid_kit = #{firstAidKit,jdbcType=INTEGER},
      </if>
      <if test="safetyCone != null" >
        safety_cone = #{safetyCone,jdbcType=INTEGER},
      </if>
      <if test="fireExtinguisher != null" >
        fire_extinguisher = #{fireExtinguisher,jdbcType=INTEGER},
      </if>
      <if test="torchLight != null" >
        torch_light = #{torchLight,jdbcType=INTEGER},
      </if>
      <if test="lightReflectSticker != null" >
        light_reflect_sticker = #{lightReflectSticker,jdbcType=INTEGER},
      </if>
      <if test="speedLimitSticker != null" >
        speed_limit_sticker = #{speedLimitSticker,jdbcType=INTEGER},
      </if>
      <if test="numberPlate != null" >
        number_plate = #{numberPlate,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.CarSafetyEquipment" >
    update t_car_safety_equipment
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      driver_id = #{driverId,jdbcType=VARCHAR},
      car_id = #{carId,jdbcType=VARCHAR},
      safety_helmet = #{safetyHelmet,jdbcType=INTEGER},
      safety_shoes = #{safetyShoes,jdbcType=INTEGER},
      safety_goggle = #{safetyGoggle,jdbcType=INTEGER},
      safety_glove = #{safetyGlove,jdbcType=INTEGER},
      seat_belt_condition = #{seatBeltCondition,jdbcType=INTEGER},
      cabin_jack = #{cabinJack,jdbcType=INTEGER},
      first_aid_kit = #{firstAidKit,jdbcType=INTEGER},
      safety_cone = #{safetyCone,jdbcType=INTEGER},
      fire_extinguisher = #{fireExtinguisher,jdbcType=INTEGER},
      torch_light = #{torchLight,jdbcType=INTEGER},
      light_reflect_sticker = #{lightReflectSticker,jdbcType=INTEGER},
      speed_limit_sticker = #{speedLimitSticker,jdbcType=INTEGER},
      number_plate = #{numberPlate,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>