<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.web.mapper.CarSignalLightMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.CarSignalLight" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="signal_light_lamp" property="signalLightLamp" jdbcType="INTEGER" />
    <result column="great_light" property="greatLight" jdbcType="INTEGER" />
    <result column="side_mirror" property="sideMirror" jdbcType="INTEGER" />
    <result column="temperature_in_good_condition" property="temperatureInGoodCondition" jdbcType="VARCHAR" />
    <result column="double_signal" property="doubleSignal" jdbcType="INTEGER" />
    <result column="good_plate_number" property="goodPlateNumber" jdbcType="INTEGER" />
    <result column="takometer_working" property="takometerWorking" jdbcType="INTEGER" />
    <result column="odometer_working" property="odometerWorking" jdbcType="INTEGER" />
    <result column="level_meter_working" property="levelMeterWorking" jdbcType="INTEGER" />
    <result column="winds_tank_remove_water_oil_mud" property="windsTankRemoveWaterOilMud" jdbcType="INTEGER" />
    <result column="beacon_lamp_function" property="beaconLampFunction" jdbcType="INTEGER" />
    <result column="hon_function" property="honFunction" jdbcType="INTEGER" />
    <result column="wiper_in_a_good_condition" property="wiperInAGoodCondition" jdbcType="INTEGER" />
    <result column="break_hand" property="breakHand" jdbcType="INTEGER" />
    <result column="stereng" property="stereng" jdbcType="INTEGER" />
    <result column="colder_heater" property="colderHeater" jdbcType="INTEGER" />
    <result column="light_sticker" property="lightSticker" jdbcType="INTEGER" />
    <result column="sticker_limited" property="stickerLimited" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, signal_light_lamp, great_light, 
    side_mirror, temperature_in_good_condition, double_signal, good_plate_number, takometer_working, 
    odometer_working, level_meter_working, winds_tank_remove_water_oil_mud, beacon_lamp_function, 
    hon_function, wiper_in_a_good_condition, break_hand, stereng, colder_heater, light_sticker, 
    sticker_limited, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_car_signal_light
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_car_signal_light
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iflytransporter.common.bean.CarSignalLight" >
    insert into t_car_signal_light (id, create_date, update_date, 
      data_status, desp, signal_light_lamp, 
      great_light, side_mirror, temperature_in_good_condition, 
      double_signal, good_plate_number, takometer_working, 
      odometer_working, level_meter_working, winds_tank_remove_water_oil_mud, 
      beacon_lamp_function, hon_function, wiper_in_a_good_condition, 
      break_hand, stereng, colder_heater, 
      light_sticker, sticker_limited, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{dataStatus,jdbcType=SMALLINT}, #{desp,jdbcType=VARCHAR}, #{signalLightLamp,jdbcType=INTEGER}, 
      #{greatLight,jdbcType=INTEGER}, #{sideMirror,jdbcType=INTEGER}, #{temperatureInGoodCondition,jdbcType=VARCHAR}, 
      #{doubleSignal,jdbcType=INTEGER}, #{goodPlateNumber,jdbcType=INTEGER}, #{takometerWorking,jdbcType=INTEGER}, 
      #{odometerWorking,jdbcType=INTEGER}, #{levelMeterWorking,jdbcType=INTEGER}, #{windsTankRemoveWaterOilMud,jdbcType=INTEGER}, 
      #{beaconLampFunction,jdbcType=INTEGER}, #{honFunction,jdbcType=INTEGER}, #{wiperInAGoodCondition,jdbcType=INTEGER}, 
      #{breakHand,jdbcType=INTEGER}, #{stereng,jdbcType=INTEGER}, #{colderHeater,jdbcType=INTEGER}, 
      #{lightSticker,jdbcType=INTEGER}, #{stickerLimited,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.CarSignalLight" >
    insert into t_car_signal_light
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="signalLightLamp != null" >
        signal_light_lamp,
      </if>
      <if test="greatLight != null" >
        great_light,
      </if>
      <if test="sideMirror != null" >
        side_mirror,
      </if>
      <if test="temperatureInGoodCondition != null" >
        temperature_in_good_condition,
      </if>
      <if test="doubleSignal != null" >
        double_signal,
      </if>
      <if test="goodPlateNumber != null" >
        good_plate_number,
      </if>
      <if test="takometerWorking != null" >
        takometer_working,
      </if>
      <if test="odometerWorking != null" >
        odometer_working,
      </if>
      <if test="levelMeterWorking != null" >
        level_meter_working,
      </if>
      <if test="windsTankRemoveWaterOilMud != null" >
        winds_tank_remove_water_oil_mud,
      </if>
      <if test="beaconLampFunction != null" >
        beacon_lamp_function,
      </if>
      <if test="honFunction != null" >
        hon_function,
      </if>
      <if test="wiperInAGoodCondition != null" >
        wiper_in_a_good_condition,
      </if>
      <if test="breakHand != null" >
        break_hand,
      </if>
      <if test="stereng != null" >
        stereng,
      </if>
      <if test="colderHeater != null" >
        colder_heater,
      </if>
      <if test="lightSticker != null" >
        light_sticker,
      </if>
      <if test="stickerLimited != null" >
        sticker_limited,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="signalLightLamp != null" >
        #{signalLightLamp,jdbcType=INTEGER},
      </if>
      <if test="greatLight != null" >
        #{greatLight,jdbcType=INTEGER},
      </if>
      <if test="sideMirror != null" >
        #{sideMirror,jdbcType=INTEGER},
      </if>
      <if test="temperatureInGoodCondition != null" >
        #{temperatureInGoodCondition,jdbcType=VARCHAR},
      </if>
      <if test="doubleSignal != null" >
        #{doubleSignal,jdbcType=INTEGER},
      </if>
      <if test="goodPlateNumber != null" >
        #{goodPlateNumber,jdbcType=INTEGER},
      </if>
      <if test="takometerWorking != null" >
        #{takometerWorking,jdbcType=INTEGER},
      </if>
      <if test="odometerWorking != null" >
        #{odometerWorking,jdbcType=INTEGER},
      </if>
      <if test="levelMeterWorking != null" >
        #{levelMeterWorking,jdbcType=INTEGER},
      </if>
      <if test="windsTankRemoveWaterOilMud != null" >
        #{windsTankRemoveWaterOilMud,jdbcType=INTEGER},
      </if>
      <if test="beaconLampFunction != null" >
        #{beaconLampFunction,jdbcType=INTEGER},
      </if>
      <if test="honFunction != null" >
        #{honFunction,jdbcType=INTEGER},
      </if>
      <if test="wiperInAGoodCondition != null" >
        #{wiperInAGoodCondition,jdbcType=INTEGER},
      </if>
      <if test="breakHand != null" >
        #{breakHand,jdbcType=INTEGER},
      </if>
      <if test="stereng != null" >
        #{stereng,jdbcType=INTEGER},
      </if>
      <if test="colderHeater != null" >
        #{colderHeater,jdbcType=INTEGER},
      </if>
      <if test="lightSticker != null" >
        #{lightSticker,jdbcType=INTEGER},
      </if>
      <if test="stickerLimited != null" >
        #{stickerLimited,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.CarSignalLight" >
    update t_car_signal_light
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="signalLightLamp != null" >
        signal_light_lamp = #{signalLightLamp,jdbcType=INTEGER},
      </if>
      <if test="greatLight != null" >
        great_light = #{greatLight,jdbcType=INTEGER},
      </if>
      <if test="sideMirror != null" >
        side_mirror = #{sideMirror,jdbcType=INTEGER},
      </if>
      <if test="temperatureInGoodCondition != null" >
        temperature_in_good_condition = #{temperatureInGoodCondition,jdbcType=VARCHAR},
      </if>
      <if test="doubleSignal != null" >
        double_signal = #{doubleSignal,jdbcType=INTEGER},
      </if>
      <if test="goodPlateNumber != null" >
        good_plate_number = #{goodPlateNumber,jdbcType=INTEGER},
      </if>
      <if test="takometerWorking != null" >
        takometer_working = #{takometerWorking,jdbcType=INTEGER},
      </if>
      <if test="odometerWorking != null" >
        odometer_working = #{odometerWorking,jdbcType=INTEGER},
      </if>
      <if test="levelMeterWorking != null" >
        level_meter_working = #{levelMeterWorking,jdbcType=INTEGER},
      </if>
      <if test="windsTankRemoveWaterOilMud != null" >
        winds_tank_remove_water_oil_mud = #{windsTankRemoveWaterOilMud,jdbcType=INTEGER},
      </if>
      <if test="beaconLampFunction != null" >
        beacon_lamp_function = #{beaconLampFunction,jdbcType=INTEGER},
      </if>
      <if test="honFunction != null" >
        hon_function = #{honFunction,jdbcType=INTEGER},
      </if>
      <if test="wiperInAGoodCondition != null" >
        wiper_in_a_good_condition = #{wiperInAGoodCondition,jdbcType=INTEGER},
      </if>
      <if test="breakHand != null" >
        break_hand = #{breakHand,jdbcType=INTEGER},
      </if>
      <if test="stereng != null" >
        stereng = #{stereng,jdbcType=INTEGER},
      </if>
      <if test="colderHeater != null" >
        colder_heater = #{colderHeater,jdbcType=INTEGER},
      </if>
      <if test="lightSticker != null" >
        light_sticker = #{lightSticker,jdbcType=INTEGER},
      </if>
      <if test="stickerLimited != null" >
        sticker_limited = #{stickerLimited,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.CarSignalLight" >
    update t_car_signal_light
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      signal_light_lamp = #{signalLightLamp,jdbcType=INTEGER},
      great_light = #{greatLight,jdbcType=INTEGER},
      side_mirror = #{sideMirror,jdbcType=INTEGER},
      temperature_in_good_condition = #{temperatureInGoodCondition,jdbcType=VARCHAR},
      double_signal = #{doubleSignal,jdbcType=INTEGER},
      good_plate_number = #{goodPlateNumber,jdbcType=INTEGER},
      takometer_working = #{takometerWorking,jdbcType=INTEGER},
      odometer_working = #{odometerWorking,jdbcType=INTEGER},
      level_meter_working = #{levelMeterWorking,jdbcType=INTEGER},
      winds_tank_remove_water_oil_mud = #{windsTankRemoveWaterOilMud,jdbcType=INTEGER},
      beacon_lamp_function = #{beaconLampFunction,jdbcType=INTEGER},
      hon_function = #{honFunction,jdbcType=INTEGER},
      wiper_in_a_good_condition = #{wiperInAGoodCondition,jdbcType=INTEGER},
      break_hand = #{breakHand,jdbcType=INTEGER},
      stereng = #{stereng,jdbcType=INTEGER},
      colder_heater = #{colderHeater,jdbcType=INTEGER},
      light_sticker = #{lightSticker,jdbcType=INTEGER},
      sticker_limited = #{stickerLimited,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>