<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.web.mapper.CarTyreMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.CarTyre" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="all_tyre_pressure_enough" property="allTyrePressureEnough" jdbcType="INTEGER" />
    <result column="tyre_flower_not_boot_rosak" property="tyreFlowerNotBootRosak" jdbcType="INTEGER" />
    <result column="nut_hub_tyre_no_effects" property="nutHubTyreNoEffects" jdbcType="INTEGER" />
    <result column="strengthen_tyre_spare_enough" property="strengthenTyreSpareEnough" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, all_tyre_pressure_enough, tyre_flower_not_boot_rosak, 
    nut_hub_tyre_no_effects, strengthen_tyre_spare_enough, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_car_tyre
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_car_tyre
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iflytransporter.common.bean.CarTyre" >
    insert into t_car_tyre (id, create_date, update_date, 
      data_status, desp, all_tyre_pressure_enough, 
      tyre_flower_not_boot_rosak, nut_hub_tyre_no_effects, 
      strengthen_tyre_spare_enough, remark)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{dataStatus,jdbcType=SMALLINT}, #{desp,jdbcType=VARCHAR}, #{allTyrePressureEnough,jdbcType=INTEGER}, 
      #{tyreFlowerNotBootRosak,jdbcType=INTEGER}, #{nutHubTyreNoEffects,jdbcType=INTEGER}, 
      #{strengthenTyreSpareEnough,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.CarTyre" >
    insert into t_car_tyre
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="allTyrePressureEnough != null" >
        all_tyre_pressure_enough,
      </if>
      <if test="tyreFlowerNotBootRosak != null" >
        tyre_flower_not_boot_rosak,
      </if>
      <if test="nutHubTyreNoEffects != null" >
        nut_hub_tyre_no_effects,
      </if>
      <if test="strengthenTyreSpareEnough != null" >
        strengthen_tyre_spare_enough,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="allTyrePressureEnough != null" >
        #{allTyrePressureEnough,jdbcType=INTEGER},
      </if>
      <if test="tyreFlowerNotBootRosak != null" >
        #{tyreFlowerNotBootRosak,jdbcType=INTEGER},
      </if>
      <if test="nutHubTyreNoEffects != null" >
        #{nutHubTyreNoEffects,jdbcType=INTEGER},
      </if>
      <if test="strengthenTyreSpareEnough != null" >
        #{strengthenTyreSpareEnough,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.CarTyre" >
    update t_car_tyre
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="allTyrePressureEnough != null" >
        all_tyre_pressure_enough = #{allTyrePressureEnough,jdbcType=INTEGER},
      </if>
      <if test="tyreFlowerNotBootRosak != null" >
        tyre_flower_not_boot_rosak = #{tyreFlowerNotBootRosak,jdbcType=INTEGER},
      </if>
      <if test="nutHubTyreNoEffects != null" >
        nut_hub_tyre_no_effects = #{nutHubTyreNoEffects,jdbcType=INTEGER},
      </if>
      <if test="strengthenTyreSpareEnough != null" >
        strengthen_tyre_spare_enough = #{strengthenTyreSpareEnough,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.CarTyre" >
    update t_car_tyre
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      all_tyre_pressure_enough = #{allTyrePressureEnough,jdbcType=INTEGER},
      tyre_flower_not_boot_rosak = #{tyreFlowerNotBootRosak,jdbcType=INTEGER},
      nut_hub_tyre_no_effects = #{nutHubTyreNoEffects,jdbcType=INTEGER},
      strengthen_tyre_spare_enough = #{strengthenTyreSpareEnough,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>