<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.web.mapper.CommonMapper" >
  <select id="queryProvince" resultType="java.util.Map" parameterType="java.lang.String">
    select id,code,name from  t_province where id=#{id,jdbcType=VARCHAR}
  </select>
  
  <select id="queryCity" resultType="java.util.Map" parameterType="java.lang.String">
    select id,code,name from  t_city where id=#{id,jdbcType=VARCHAR}
  </select>
  <select id="queryArea" resultType="java.util.Map" parameterType="java.lang.String">
    select id,code,name from  t_area where id=#{id,jdbcType=VARCHAR}
  </select>
  <select id="queryCarType" resultType="java.util.Map" parameterType="java.lang.String">
    select id,code,name from  t_car_type where id=#{id,jdbcType=VARCHAR}
  </select>
  <select id="queryHandlingType" resultType="java.util.Map" parameterType="java.lang.String">
    select id,code,name from  t_handling_type where id=#{id,jdbcType=VARCHAR}
  </select>
  <select id="queryPaymentType" resultType="java.util.Map" parameterType="java.lang.String">
    select id,code,name from  t_payment_type where id=#{id,jdbcType=VARCHAR}
  </select>
  <select id="queryUseType" resultType="java.util.Map" parameterType="java.lang.String">
    select id,code,name from  t_use_type where id=#{id,jdbcType=VARCHAR}
  </select>
</mapper>
