<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.web.mapper.OrderApplyMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.OrderApply" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="INTEGER" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="costs" property="costs" jdbcType="DOUBLE" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="transporter_id" property="transporterId" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="browse_status" property="browseStatus" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="contact_status" property="contactStatus" jdbcType="INTEGER" />
    <result column="browse_date" property="browseDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, status, costs, order_id, transporter_id, 
    company_id, browse_status, order_no, contact_status, browse_date
  </sql>
  
   <select id="queryAll" resultType="java.util.Map" >
    select 
   	a.id, a.create_date as createDate, a.update_date as updateDate, 
    a.order_no orderNo, 
    a.status, 
    a.costs as costs,
    a.browse_status as browseStatus,a.browse_date as browseDate,
    b.name as name,b.mobile as mobile,
    c.name as companyName,
    d.departure_province_id as departureProvinceId,
   	d.departure_city_id as departureCityId, 
    d.departure_area_id as departureAreaId, 
    d.destination_province_id as destinationProvinceId, 
    d.destination_city_id as destinationCityId, 
    d.destination_area_id as destinationAreaId, 
    d.car_type_id as carTypeId, a.tyre_no as tyreNo, 
    d.car_length as carLength, a.goods_type goodsType, 
    d.weight, 
    d.goods_units as goodsUnits, 
    d.deliver_date deliverDate, 
    d.use_type_id as useTypeId, 
    d.length, d.width, d.height, 
    d.handling_type_id as handlingTypeId, 
    d.payment_type_id as paymentTypeId
    from t_order_apply a
    left join t_user b on a.transporter_id = b.id
    left join t_company c on a.company_id = c.id
    left join t_order d on a.order_id = d.id
    where 1=1 
    <if test="orderNo!=null and orderNo !=''">
    	and a.order_no like concat('%',#{orderNo,jdbcType=VARCHAR},'%')
    </if>
    <if test="mobile!=null and mobile !=''">
    	and b.mobile like concat('%',#{mobile,jdbcType=VARCHAR},'%')
    </if>
    <if test="companyName != null and companyName !=''">
    	and c.name like concat('%',#{companyName,jdbcType=VARCHAR},'%')
    </if>
  </select>
  
    <select id="queryDetail" resultType="java.util.Map" >
    select 
   	a.id, a.create_date as createDate, a.update_date as updateDate, 
    a.order_no orderNo, 
    a.status, 
    a.costs as costs,
    a.browse_status as browseStatus,a.browse_date as browseDate,
    b.name as name,b.mobile as mobile,
    c.name as companyName,
    d.departure_province_id as departureProvinceId,
   	d.departure_city_id as departureCityId, 
    d.departure_area_id as departureAreaId, 
    d.destination_province_id as destinationProvinceId, 
    d.destination_city_id as destinationCityId, 
    d.destination_area_id as destinationAreaId, 
    d.car_type_id as carTypeId, a.tyre_no as tyreNo, 
    d.car_length as carLength, a.goods_type goodsType, 
    d.weight, 
    d.goods_units as goodsUnits, 
    d.deliver_date deliverDate, 
    d.use_type_id as useTypeId, 
    d.length, d.width, d.height, 
    d.handling_type_id as handlingTypeId, 
    d.payment_type_id as paymentTypeId
    from t_order_apply a
    left join t_user b on a.transporter_id = b.id
    left join t_company c on a.company_id = c.id
    left join t_order d on a.order_id = d.id
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_order_apply
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_order_apply
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iflytransporter.common.bean.OrderApply" >
    insert into t_order_apply (id, create_date, update_date, 
      data_status, desp, status, 
      costs, order_id, transporter_id, 
      company_id, browse_status, order_no, 
      contact_status, browse_date)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{dataStatus,jdbcType=INTEGER}, #{desp,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{costs,jdbcType=DOUBLE}, #{orderId,jdbcType=VARCHAR}, #{transporterId,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=VARCHAR}, #{browseStatus,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, 
      #{contactStatus,jdbcType=INTEGER}, #{browseDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.OrderApply" >
    insert into t_order_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="costs != null" >
        costs,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="transporterId != null" >
        transporter_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="browseStatus != null" >
        browse_status,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="contactStatus != null" >
        contact_status,
      </if>
      <if test="browseDate != null" >
        browse_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=INTEGER},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="costs != null" >
        #{costs,jdbcType=DOUBLE},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="transporterId != null" >
        #{transporterId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="browseStatus != null" >
        #{browseStatus,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="contactStatus != null" >
        #{contactStatus,jdbcType=INTEGER},
      </if>
      <if test="browseDate != null" >
        #{browseDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.OrderApply" >
    update t_order_apply
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=INTEGER},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="costs != null" >
        costs = #{costs,jdbcType=DOUBLE},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="transporterId != null" >
        transporter_id = #{transporterId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="browseStatus != null" >
        browse_status = #{browseStatus,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="contactStatus != null" >
        contact_status = #{contactStatus,jdbcType=INTEGER},
      </if>
      <if test="browseDate != null" >
        browse_date = #{browseDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.OrderApply" >
    update t_order_apply
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=INTEGER},
      desp = #{desp,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      costs = #{costs,jdbcType=DOUBLE},
      order_id = #{orderId,jdbcType=VARCHAR},
      transporter_id = #{transporterId,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      browse_status = #{browseStatus,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      contact_status = #{contactStatus,jdbcType=INTEGER},
      browse_date = #{browseDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>