<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.web.mapper.TransporterCommentMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.TransporterComment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="serve_grade" property="serveGrade" jdbcType="INTEGER" />
    <result column="loading_grade" property="loadingGrade" jdbcType="INTEGER" />
    <result column="goods_grade" property="goodsGrade" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="shipper_id" property="shipperId" jdbcType="VARCHAR" />
    <result column="transporter_id" property="transporterId" jdbcType="VARCHAR" />
    <result column="waybill_id" property="waybillId" jdbcType="VARCHAR" />
    <result column="shipper_company_id" property="shipperCompanyId" jdbcType="VARCHAR" />
    <result column="transporter_company_id" property="transporterCompanyId" jdbcType="VARCHAR" />
    <result column="attachment_id_1" property="attachmentId1" jdbcType="VARCHAR" />
    <result column="attachment_id_2" property="attachmentId2" jdbcType="VARCHAR" />
    <result column="attachment_id_3" property="attachmentId3" jdbcType="VARCHAR" />
    <result column="attachment_id_4" property="attachmentId4" jdbcType="VARCHAR" />
    <result column="anonymity" property="anonymity" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, serve_grade, loading_grade, goods_grade, 
    content, shipper_id, transporter_id, waybill_id, shipper_company_id, transporter_company_id, 
    attachment_id_1, attachment_id_2, attachment_id_3, attachment_id_4, anonymity, order_id, 
    order_no
  </sql>
  
  <select id="queryAll" resultType="java.util.Map">
   select 
    a.id, a.create_date as createDate,
     a.update_date as updateDate,
    a.serve_grade as serveGrade, a.loading_grade as loadGrade, a.goods_grade goodsGrade,a.content, 
    a.anonymity,a.order_no as orderNo,
    b.mobile as transporterMobile,b.surname,b.name,
    c.mobile as shipperMobile,
    e.name as shipperCompanyName
   from t_transporter_comment a 
     left join t_user b on a.transporter_id = b.id
     left join t_user c on a.shipper_id = c.id 
     left join t_company e on a.shipper_company_id = e.id
     <if test="orderNo !=null and orderNo !=''">
    	and a.order_no like concat('%',#{orderNo,jdbcType=VARCHAR},'%')
    </if>
     <if test="transporterMobile !=null and transporterMobile !=''">
    	and b.mobile like concat('%',#{transporterMobile,jdbcType=VARCHAR},'%')
    </if>
    
    <if test="shipperMobile !=null and shipperMobile !=''">
    	and c.mobile like concat('%',#{shipperMobile,jdbcType=VARCHAR},'%')
    </if>
    <if test="shipperCompanyName !=null and shipperCompanyName !=''">
    	and e.name like concat('%',#{shipperCompanyName,jdbcType=VARCHAR},'%')
    </if>
  </select>
  <select id="queryDetail" resultType="java.util.Map">
   select 
    a.id, a.create_date as createDate,
    a.id, a.update_date as updateDate,
    a.serve_grade as serveGrade, a.loading_grade as loadGrade, a.goods_grade goodsGrade,a.content, 
    a.anonymity,a.order_no as orderNo,
    b.mobile as transporterMobile,b.surname,b.name,
    c.mobile as shipperMobile,
    e.name as shipperCompanyName
  
  	concat('${@com.iflytransporter.web.conf.ConstantsConfig@getLinkPath()}',a1.attachment_link)  as attachmentId1Link,
   	concat('${@com.iflytransporter.web.conf.ConstantsConfig@getLinkPath()}',a2.attachment_link)  as attachmentId2Link,
   	concat('${@com.iflytransporter.web.conf.ConstantsConfig@getLinkPath()}',a3.attachment_link)  as attachmentId3Link
   	concat('${@com.iflytransporter.web.conf.ConstantsConfig@getLinkPath()}',a4.attachment_link)  as attachmentId4Link
   from t_transporter_comment a 
     left join t_user b on a.transporter_id = b.id
     left join t_user c on a.shipper_id = c.id 
     left join t_company e on a.shipper_company_id = e.id
     
     left join t_attachment a1 on a.attachment_id_1 = a1.id
     left join t_attachment a2 on a.attachment_id_2 = a2.id
     left join t_attachment a3 on a.attachment_id_3 = a3.id
     left join t_attachment a4 on a.attachment_id_4 = a4.id
    where a.id = #{id,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_transporter_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_transporter_comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iflytransporter.common.bean.TransporterComment" >
    insert into t_transporter_comment (id, create_date, update_date, 
      data_status, desp, serve_grade, 
      loading_grade, goods_grade, content, 
      shipper_id, transporter_id, waybill_id, 
      shipper_company_id, transporter_company_id, 
      attachment_id_1, attachment_id_2, attachment_id_3, 
      attachment_id_4, anonymity, order_id, 
      order_no)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{dataStatus,jdbcType=SMALLINT}, #{desp,jdbcType=VARCHAR}, #{serveGrade,jdbcType=INTEGER}, 
      #{loadingGrade,jdbcType=INTEGER}, #{goodsGrade,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{shipperId,jdbcType=VARCHAR}, #{transporterId,jdbcType=VARCHAR}, #{waybillId,jdbcType=VARCHAR}, 
      #{shipperCompanyId,jdbcType=VARCHAR}, #{transporterCompanyId,jdbcType=VARCHAR}, 
      #{attachmentId1,jdbcType=VARCHAR}, #{attachmentId2,jdbcType=VARCHAR}, #{attachmentId3,jdbcType=VARCHAR}, 
      #{attachmentId4,jdbcType=VARCHAR}, #{anonymity,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.TransporterComment" >
    insert into t_transporter_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="serveGrade != null" >
        serve_grade,
      </if>
      <if test="loadingGrade != null" >
        loading_grade,
      </if>
      <if test="goodsGrade != null" >
        goods_grade,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="shipperId != null" >
        shipper_id,
      </if>
      <if test="transporterId != null" >
        transporter_id,
      </if>
      <if test="waybillId != null" >
        waybill_id,
      </if>
      <if test="shipperCompanyId != null" >
        shipper_company_id,
      </if>
      <if test="transporterCompanyId != null" >
        transporter_company_id,
      </if>
      <if test="attachmentId1 != null" >
        attachment_id_1,
      </if>
      <if test="attachmentId2 != null" >
        attachment_id_2,
      </if>
      <if test="attachmentId3 != null" >
        attachment_id_3,
      </if>
      <if test="attachmentId4 != null" >
        attachment_id_4,
      </if>
      <if test="anonymity != null" >
        anonymity,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="serveGrade != null" >
        #{serveGrade,jdbcType=INTEGER},
      </if>
      <if test="loadingGrade != null" >
        #{loadingGrade,jdbcType=INTEGER},
      </if>
      <if test="goodsGrade != null" >
        #{goodsGrade,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="shipperId != null" >
        #{shipperId,jdbcType=VARCHAR},
      </if>
      <if test="transporterId != null" >
        #{transporterId,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null" >
        #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="shipperCompanyId != null" >
        #{shipperCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="transporterCompanyId != null" >
        #{transporterCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId1 != null" >
        #{attachmentId1,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId2 != null" >
        #{attachmentId2,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId3 != null" >
        #{attachmentId3,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId4 != null" >
        #{attachmentId4,jdbcType=VARCHAR},
      </if>
      <if test="anonymity != null" >
        #{anonymity,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.TransporterComment" >
    update t_transporter_comment
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="serveGrade != null" >
        serve_grade = #{serveGrade,jdbcType=INTEGER},
      </if>
      <if test="loadingGrade != null" >
        loading_grade = #{loadingGrade,jdbcType=INTEGER},
      </if>
      <if test="goodsGrade != null" >
        goods_grade = #{goodsGrade,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="shipperId != null" >
        shipper_id = #{shipperId,jdbcType=VARCHAR},
      </if>
      <if test="transporterId != null" >
        transporter_id = #{transporterId,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null" >
        waybill_id = #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="shipperCompanyId != null" >
        shipper_company_id = #{shipperCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="transporterCompanyId != null" >
        transporter_company_id = #{transporterCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId1 != null" >
        attachment_id_1 = #{attachmentId1,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId2 != null" >
        attachment_id_2 = #{attachmentId2,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId3 != null" >
        attachment_id_3 = #{attachmentId3,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId4 != null" >
        attachment_id_4 = #{attachmentId4,jdbcType=VARCHAR},
      </if>
      <if test="anonymity != null" >
        anonymity = #{anonymity,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.TransporterComment" >
    update t_transporter_comment
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      serve_grade = #{serveGrade,jdbcType=INTEGER},
      loading_grade = #{loadingGrade,jdbcType=INTEGER},
      goods_grade = #{goodsGrade,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      shipper_id = #{shipperId,jdbcType=VARCHAR},
      transporter_id = #{transporterId,jdbcType=VARCHAR},
      waybill_id = #{waybillId,jdbcType=VARCHAR},
      shipper_company_id = #{shipperCompanyId,jdbcType=VARCHAR},
      transporter_company_id = #{transporterCompanyId,jdbcType=VARCHAR},
      attachment_id_1 = #{attachmentId1,jdbcType=VARCHAR},
      attachment_id_2 = #{attachmentId2,jdbcType=VARCHAR},
      attachment_id_3 = #{attachmentId3,jdbcType=VARCHAR},
      attachment_id_4 = #{attachmentId4,jdbcType=VARCHAR},
      anonymity = #{anonymity,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>