spring:
    datasource:
#        url: jdbc:mysql://localhost:3306/transporter?useUnicode=true&characterEncoding=UTF-8
#        username: root
#        password: 
        
        url: jdbc:mysql://127.0.0.1:3306/transporter?useUnicode=true&characterEncoding=UTF-8
        username: root
        password:

#        url: jdbc:mysql://47.100.8.71:3306/transporter?useUnicode=true&characterEncoding=UTF-8
#        username: root
#        password: Changeme
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
    #redis配置信息
    redis: 
       host : 127.0.0.1
       port : 6379
       max-idle : 8
       min-idle : 0
#配置文件相关目录
upload:
    filePath: D:/Tools/nginx/static/data
    host: http://localhost
    linkPath: /data
    
#是否发送短信,测试服务器不发送
message: 
    sendFlag: false
    sendApiKey: NUC13010100005665d5e24e1165d92b2f9f6001f68f092752
    sendUrl: http://cloudsms.trio-mobile.com/index.php/api/bulk_mt?api_key={apiKey}&action=send&to={to}&msg={msg}&sender_id=CLOUDSMS&content_type=1&mode=shortcode&campaign=

