<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.api.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.Comment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="serve_grade" property="serveGrade" jdbcType="INTEGER" />
    <result column="loading_grade" property="loadingGrade" jdbcType="INTEGER" />
    <result column="goods_grade" property="goodsGrade" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="shipper_id" property="shipperId" jdbcType="VARCHAR" />
    <result column="transporter_id" property="transporterId" jdbcType="VARCHAR" />
    <result column="waybill_id" property="waybillId" jdbcType="VARCHAR" />
    <result column="shipper_company_id" property="shipperCompanyId" jdbcType="VARCHAR" />
    <result column="transporter_company_id" property="transporterCompanyId" jdbcType="VARCHAR" />
    <result column="attachment_id_1" property="attachmentId1" jdbcType="VARCHAR" />
    <result column="attachment_id_2" property="attachmentId2" jdbcType="VARCHAR" />
    <result column="attachment_id_3" property="attachmentId3" jdbcType="VARCHAR" />
    <result column="attachment_id_4" property="attachmentId4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, serve_grade, loading_grade, goods_grade, 
    content, shipper_id, transporter_id, waybill_id, shipper_company_id, transporter_company_id, 
    attachment_id_1, attachment_id_2, attachment_id_3, attachment_id_4
  </sql>
  
   <select id="queryAll" resultType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from t_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iflytransporter.common.bean.Comment" >
    insert into t_comment (id,  update_date, 
       desp, serve_grade, 
      loading_grade, goods_grade, content, 
      shipper_id, transporter_id, waybill_id, 
      shipper_company_id, transporter_company_id, 
      attachment_id_1, attachment_id_2, attachment_id_3, 
      attachment_id_4)
    values (#{id,jdbcType=VARCHAR},  now(),
       #{desp,jdbcType=VARCHAR}, #{serveGrade,jdbcType=INTEGER}, 
      #{loadingGrade,jdbcType=INTEGER}, #{goodsGrade,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{shipperId,jdbcType=VARCHAR}, #{transporterId,jdbcType=VARCHAR}, #{waybillId,jdbcType=VARCHAR}, 
      #{shipperCompanyId,jdbcType=VARCHAR}, #{transporterCompanyId,jdbcType=VARCHAR}, 
      #{attachmentId1,jdbcType=VARCHAR}, #{attachmentId2,jdbcType=VARCHAR}, #{attachmentId3,jdbcType=VARCHAR}, 
      #{attachmentId4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.Comment" >
    insert into t_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="serveGrade != null" >
        serve_grade,
      </if>
      <if test="loadingGrade != null" >
        loading_grade,
      </if>
      <if test="goodsGrade != null" >
        goods_grade,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="shipperId != null" >
        shipper_id,
      </if>
      <if test="transporterId != null" >
        transporter_id,
      </if>
      <if test="waybillId != null" >
        waybill_id,
      </if>
      <if test="shipperCompanyId != null" >
        shipper_company_id,
      </if>
      <if test="transporterCompanyId != null" >
        transporter_company_id,
      </if>
      <if test="attachmentId1 != null" >
        attachment_id_1,
      </if>
      <if test="attachmentId2 != null" >
        attachment_id_2,
      </if>
      <if test="attachmentId3 != null" >
        attachment_id_3,
      </if>
      <if test="attachmentId4 != null" >
        attachment_id_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="serveGrade != null" >
        #{serveGrade,jdbcType=INTEGER},
      </if>
      <if test="loadingGrade != null" >
        #{loadingGrade,jdbcType=INTEGER},
      </if>
      <if test="goodsGrade != null" >
        #{goodsGrade,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="shipperId != null" >
        #{shipperId,jdbcType=VARCHAR},
      </if>
      <if test="transporterId != null" >
        #{transporterId,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null" >
        #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="shipperCompanyId != null" >
        #{shipperCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="transporterCompanyId != null" >
        #{transporterCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId1 != null" >
        #{attachmentId1,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId2 != null" >
        #{attachmentId2,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId3 != null" >
        #{attachmentId3,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId4 != null" >
        #{attachmentId4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.Comment" >
    update t_comment
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="serveGrade != null" >
        serve_grade = #{serveGrade,jdbcType=INTEGER},
      </if>
      <if test="loadingGrade != null" >
        loading_grade = #{loadingGrade,jdbcType=INTEGER},
      </if>
      <if test="goodsGrade != null" >
        goods_grade = #{goodsGrade,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="shipperId != null" >
        shipper_id = #{shipperId,jdbcType=VARCHAR},
      </if>
      <if test="transporterId != null" >
        transporter_id = #{transporterId,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null" >
        waybill_id = #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="shipperCompanyId != null" >
        shipper_company_id = #{shipperCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="transporterCompanyId != null" >
        transporter_company_id = #{transporterCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId1 != null" >
        attachment_id_1 = #{attachmentId1,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId2 != null" >
        attachment_id_2 = #{attachmentId2,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId3 != null" >
        attachment_id_3 = #{attachmentId3,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId4 != null" >
        attachment_id_4 = #{attachmentId4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.Comment" >
    update t_comment
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      serve_grade = #{serveGrade,jdbcType=INTEGER},
      loading_grade = #{loadingGrade,jdbcType=INTEGER},
      goods_grade = #{goodsGrade,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      shipper_id = #{shipperId,jdbcType=VARCHAR},
      transporter_id = #{transporterId,jdbcType=VARCHAR},
      waybill_id = #{waybillId,jdbcType=VARCHAR},
      shipper_company_id = #{shipperCompanyId,jdbcType=VARCHAR},
      transporter_company_id = #{transporterCompanyId,jdbcType=VARCHAR},
      attachment_id_1 = #{attachmentId1,jdbcType=VARCHAR},
      attachment_id_2 = #{attachmentId2,jdbcType=VARCHAR},
      attachment_id_3 = #{attachmentId3,jdbcType=VARCHAR},
      attachment_id_4 = #{attachmentId4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>