<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.api.mapper.ComplaintMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.Complaint" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="waybill_id" property="waybillId" jdbcType="VARCHAR" />
    <result column="shipper_id" property="shipperId" jdbcType="VARCHAR" />
    <result column="transporter_id" property="transporterId" jdbcType="VARCHAR" />
    <result column="attachment_id_1" property="attachmentId1" jdbcType="VARCHAR" />
    <result column="attachment_id_2" property="attachmentId2" jdbcType="VARCHAR" />
    <result column="attachment_id_3" property="attachmentId3" jdbcType="VARCHAR" />
    <result column="attachment_id_4" property="attachmentId4" jdbcType="VARCHAR" />
    <result column="shipper_company_id" property="shipperCompanyId" jdbcType="VARCHAR" />
    <result column="transporter_company_id" property="transporterCompanyId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, reason, content, mobile, waybill_id, 
    shipper_id, transporter_id, attachment_id_1, attachment_id_2, attachment_id_3, attachment_id_4, 
    shipper_company_id, transporter_company_id
  </sql>
  
  <select id="countByWaybill" resultType="java.lang.Integer" >
    select count(1)
    from t_complaint
    where waybill_id = #{waybillId,jdbcType=VARCHAR} and shipper_id = #{shipperId,jdbcType=VARCHAR}
  </select>
  
  <select id="queryDetailByWaybill" resultType="java.util.HashMap" >
    select 
    a.id, a.reason, a.mobile,a.content as content,  
    concat('${@com.iflytransporter.api.conf.ConstantsConfig@getLinkPath()}',b.attachment_link)  as attachmentId1Link,
    concat('${@com.iflytransporter.api.conf.ConstantsConfig@getLinkPath()}',c.attachment_link)  as attachmentId2Link,
    concat('${@com.iflytransporter.api.conf.ConstantsConfig@getLinkPath()}',d.attachment_link) as attachmentId3Link,
    concat('${@com.iflytransporter.api.conf.ConstantsConfig@getLinkPath()}',e.attachment_link) as attachmentId4Link 
	from t_complaint a
    left join t_attachment b on a.attachment_id_1 = b.id
    left join t_attachment c on a.attachment_id_2 = c.id
    left join t_attachment d on a.attachment_id_3 = d.id
    left join t_attachment e on a.attachment_id_3 = d.id
    where a.waybill_id = #{waybillId,jdbcType=VARCHAR} and a.shipper_id = #{shipperId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_complaint
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_complaint
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iflytransporter.common.bean.Complaint" >
    insert into t_complaint (id, update_date, 
      desp, reason, 
      content, mobile, waybill_id, 
      shipper_id, transporter_id, attachment_id_1, 
      attachment_id_2, attachment_id_3, attachment_id_4, 
      shipper_company_id, transporter_company_id)
    values (#{id,jdbcType=VARCHAR},  now(),
      #{desp,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{waybillId,jdbcType=VARCHAR}, 
      #{shipperId,jdbcType=VARCHAR}, #{transporterId,jdbcType=VARCHAR}, #{attachmentId1,jdbcType=VARCHAR}, 
      #{attachmentId2,jdbcType=VARCHAR}, #{attachmentId3,jdbcType=VARCHAR}, #{attachmentId4,jdbcType=VARCHAR}, 
      #{shipperCompanyId,jdbcType=VARCHAR}, #{transporterCompanyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.Complaint" >
    insert into t_complaint
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="waybillId != null" >
        waybill_id,
      </if>
      <if test="shipperId != null" >
        shipper_id,
      </if>
      <if test="transporterId != null" >
        transporter_id,
      </if>
      <if test="attachmentId1 != null" >
        attachment_id_1,
      </if>
      <if test="attachmentId2 != null" >
        attachment_id_2,
      </if>
      <if test="attachmentId3 != null" >
        attachment_id_3,
      </if>
      <if test="attachmentId4 != null" >
        attachment_id_4,
      </if>
      <if test="shipperCompanyId != null" >
        shipper_company_id,
      </if>
      <if test="transporterCompanyId != null" >
        transporter_company_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null" >
        #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="shipperId != null" >
        #{shipperId,jdbcType=VARCHAR},
      </if>
      <if test="transporterId != null" >
        #{transporterId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId1 != null" >
        #{attachmentId1,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId2 != null" >
        #{attachmentId2,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId3 != null" >
        #{attachmentId3,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId4 != null" >
        #{attachmentId4,jdbcType=VARCHAR},
      </if>
      <if test="shipperCompanyId != null" >
        #{shipperCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="transporterCompanyId != null" >
        #{transporterCompanyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.Complaint" >
    update t_complaint
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null" >
        waybill_id = #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="shipperId != null" >
        shipper_id = #{shipperId,jdbcType=VARCHAR},
      </if>
      <if test="transporterId != null" >
        transporter_id = #{transporterId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId1 != null" >
        attachment_id_1 = #{attachmentId1,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId2 != null" >
        attachment_id_2 = #{attachmentId2,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId3 != null" >
        attachment_id_3 = #{attachmentId3,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId4 != null" >
        attachment_id_4 = #{attachmentId4,jdbcType=VARCHAR},
      </if>
      <if test="shipperCompanyId != null" >
        shipper_company_id = #{shipperCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="transporterCompanyId != null" >
        transporter_company_id = #{transporterCompanyId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.Complaint" >
    update t_complaint
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      waybill_id = #{waybillId,jdbcType=VARCHAR},
      shipper_id = #{shipperId,jdbcType=VARCHAR},
      transporter_id = #{transporterId,jdbcType=VARCHAR},
      attachment_id_1 = #{attachmentId1,jdbcType=VARCHAR},
      attachment_id_2 = #{attachmentId2,jdbcType=VARCHAR},
      attachment_id_3 = #{attachmentId3,jdbcType=VARCHAR},
      attachment_id_4 = #{attachmentId4,jdbcType=VARCHAR},
      shipper_company_id = #{shipperCompanyId,jdbcType=VARCHAR},
      transporter_company_id = #{transporterCompanyId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>