<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.api.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.Company" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
     <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="attachment_id_1" property="attachmentId1" jdbcType="VARCHAR" />
    <result column="attachment_id_2" property="attachmentId2" jdbcType="VARCHAR" />
    <result column="attachment_id_3" property="attachmentId3" jdbcType="VARCHAR" />
     <result column="amount" property="amount" jdbcType="INTEGER" />
  </resultMap>
  
    <resultMap id="BaseResultMapBO" type="com.iflytransporter.common.bean.CompanyBO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
     <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="attachment_id_1" property="attachmentId1" jdbcType="VARCHAR" />
     <result column="attachment_id_1_link" property="attachmentId1Link" jdbcType="VARCHAR" />
     <result column="attachment_id_2" property="attachmentId2" jdbcType="VARCHAR" />
     <result column="attachment_id_2_link" property="attachmentId2Link" jdbcType="VARCHAR" />
     <result column="attachment_id_3" property="attachmentId3" jdbcType="VARCHAR" />
     <result column="attachment_id_3_link" property="attachmentId3Link" jdbcType="VARCHAR" />
      <result column="amount" property="amount" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, name, code, email, address, status, 
    attachment_id_1,user_id,user_type,attachment_id_2,attachment_id_3,amount
  </sql>
  <sql id="Valid_SQL" >
    and data_status = ${@com.iflytransporter.common.enums.Status@Status_Valid}
  </sql>
  
    <select id="queryAll" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_company 
    where 1=1
    <include refid ="Valid_SQL"/>
  </select>
  
    <select id="selectByPrimaryKeyBO" resultMap="BaseResultMapBO" parameterType="java.lang.String" >
    select 
    a.id, a.create_date, a.update_date, a.data_status, a.desp, a.name, a.code, a.email, a.address, a.status, 
    a.attachment_id_1,a.user_id,a.attachment_id_2,a.attachment_id_3,a.amount
    concat('${@com.iflytransporter.api.conf.ConstantsConfig@getLinkPath()}',b.attachment_link) as attachment_id_1_link,
    concat('${@com.iflytransporter.api.conf.ConstantsConfig@getLinkPath()}',c.attachment_link) as attachment_id_2_link,
    concat('${@com.iflytransporter.api.conf.ConstantsConfig@getLinkPath()}',d.attachment_link) as attachment_id_3_link
    from t_company a
    left join t_attachment b on a.attachment_id_1 = b.id
    left join t_attachment c on a.attachment_id_2 = c.id
    left join t_attachment d on a.attachment_id_3 = d.id
    where a.id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_company
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_company
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iflytransporter.common.bean.Company" >
    insert into t_company (id, update_date, 
      desp, name, 
      code, email, address, attachment_id_1,user_id,user_type,attachment_id_2,attachment_id_3,amount)
    values (#{id,jdbcType=VARCHAR}, now(),
       #{desp,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{attachmentId1,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{userType,jdbcType=INTEGER},
      #{attachmentId2,jdbcType=VARCHAR},#{attachmentId3,jdbcType=VARCHAR},#{amount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.Company" >
    insert into t_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="attachmentId1 != null" >
        attachment_id_1,
      </if>
       <if test="attachmentId2 != null" >
        attachment_id_2,
      </if>
       <if test="attachmentId3 != null" >
        attachment_id_3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="attachmentId1 != null" >
        #{attachmentId1,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId2 != null" >
        #{attachmentId2,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId3 != null" >
        #{attachmentId3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.Company" >
    update t_company
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="attachmentId1 != null" >
        attachment_id_1 = #{attachmentId1,jdbcType=VARCHAR},
      </if>
       <if test="attachmentId1 != null" >
        attachment_id_2 = #{attachmentId2,jdbcType=VARCHAR},
      </if>
       <if test="attachmentId1 != null" >
        attachment_id_3 = #{attachmentId3,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.Company" >
    update t_company
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      attachment_id_1 = #{attachmentId1,jdbcType=VARCHAR},
      attachment_id_2 = #{attachmentId2,jdbcType=VARCHAR},
      attachment_id_3 = #{attachmentId3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>