<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.api.mapper.GoodsSourceMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.GoodsSource" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="default_status" property="defaultStatus" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="departure_province_id" property="departureProvinceId" jdbcType="VARCHAR" />
    <result column="departure_city_id" property="departureCityId" jdbcType="VARCHAR" />
    <result column="departure_area_id" property="departureAreaId" jdbcType="VARCHAR" />
    <result column="destination_province_id" property="destinationProvinceId" jdbcType="VARCHAR" />
    <result column="destination_city_id" property="destinationCityId" jdbcType="VARCHAR" />
    <result column="destination_area_id" property="destinationAreaId" jdbcType="VARCHAR" />
    <result column="car_type_id" property="carTypeId" jdbcType="VARCHAR" />
    <result column="tyre_no" property="tyreNo" jdbcType="VARCHAR" />
    <result column="car_length" property="carLength" jdbcType="INTEGER" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
     <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="goods_units" property="goodsUnits" jdbcType="VARCHAR" />
    <result column="deliver_date" property="deliverDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="use_type_id" property="useTypeId" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="VARCHAR" />
    <result column="width" property="width" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="VARCHAR" />
    <result column="handling_type_id" property="handlingTypeId" jdbcType="VARCHAR" />
    <result column="payment_type_id" property="paymentTypeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, default_status, user_id, departure_province_id, 
    departure_city_id, departure_area_id, destination_province_id, destination_city_id, 
    destination_area_id, car_type_id, tyre_no, car_length, goods_type,weight, goods_units, 
    deliver_date, remark, use_type_id, length, width, height, handling_type_id, payment_type_id
  </sql>

    <sql id="Valid_SQL" >
    and data_status = 0
  </sql>
  
   <select id="queryAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_goods_source
    where 1 = 1 
    <if test="userId != null" >
      and user_id  = #{userId,jdbcType=VARCHAR}
    </if>
    <include refid ="Valid_SQL"/>
  </select>
  
   <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update  t_goods_source set data_status = 1,update_date = now() 
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_goods_source
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.iflytransporter.common.bean.GoodsSource" >
    insert into t_goods_source (id, update_date, 
      desp, default_status, 
      user_id, departure_province_id, departure_city_id, 
      departure_area_id, destination_province_id, 
      destination_city_id, destination_area_id, car_type_id, 
      tyre_no, car_length, goods_type, weight,
      goods_units, deliver_date, remark, 
      use_type_id, length, width, 
      height, handling_type_id, payment_type_id
      )
    values (#{id,jdbcType=VARCHAR},  now(), 
      #{desp,jdbcType=VARCHAR}, #{defaultStatus,jdbcType=INTEGER}, 
      #{userId,jdbcType=VARCHAR}, #{departureProvinceId,jdbcType=VARCHAR}, #{departureCityId,jdbcType=VARCHAR}, 
      #{departureAreaId,jdbcType=VARCHAR}, #{destinationProvinceId,jdbcType=VARCHAR}, 
      #{destinationCityId,jdbcType=VARCHAR}, #{destinationAreaId,jdbcType=VARCHAR}, #{carTypeId,jdbcType=VARCHAR}, 
      #{tyreNo,jdbcType=VARCHAR}, #{carLength,jdbcType=INTEGER}, #{goodsType,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER},
      #{goodsUnits,jdbcType=VARCHAR}, #{deliverDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{useTypeId,jdbcType=VARCHAR}, #{length,jdbcType=VARCHAR}, #{width,jdbcType=VARCHAR}, 
      #{height,jdbcType=VARCHAR}, #{handlingTypeId,jdbcType=VARCHAR}, #{paymentTypeId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.GoodsSource" >
    insert into t_goods_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="defaultStatus != null" >
        default_status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="departureProvinceId != null" >
        departure_province_id,
      </if>
      <if test="departureCityId != null" >
        departure_city_id,
      </if>
      <if test="departureAreaId != null" >
        departure_area_id,
      </if>
      <if test="destinationProvinceId != null" >
        destination_province_id,
      </if>
      <if test="destinationCityId != null" >
        destination_city_id,
      </if>
      <if test="destinationAreaId != null" >
        destination_area_id,
      </if>
      <if test="carTypeId != null" >
        car_type_id,
      </if>
      <if test="tyreNo != null" >
        tyre_no,
      </if>
      <if test="carLength != null" >
        car_length,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
       <if test="weight != null" >
        weight,
      </if>
      <if test="goodsUnits != null" >
        goods_units,
      </if>
      <if test="deliverDate != null" >
        deliver_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="useTypeId != null" >
        use_type_id,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="handlingTypeId != null" >
        handling_type_id,
      </if>
      <if test="paymentTypeId != null" >
        payment_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="defaultStatus != null" >
        #{defaultStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="departureProvinceId != null" >
        #{departureProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="departureCityId != null" >
        #{departureCityId,jdbcType=VARCHAR},
      </if>
      <if test="departureAreaId != null" >
        #{departureAreaId,jdbcType=VARCHAR},
      </if>
      <if test="destinationProvinceId != null" >
        #{destinationProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="destinationCityId != null" >
        #{destinationCityId,jdbcType=VARCHAR},
      </if>
      <if test="destinationAreaId != null" >
        #{destinationAreaId,jdbcType=VARCHAR},
      </if>
      <if test="carTypeId != null" >
        #{carTypeId,jdbcType=VARCHAR},
      </if>
      <if test="tyreNo != null" >
        #{tyreNo,jdbcType=VARCHAR},
      </if>
      <if test="carLength != null" >
        #{carLength,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
       <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="goodsUnits != null" >
        #{goodsUnits,jdbcType=VARCHAR},
      </if>
      <if test="deliverDate != null" >
        #{deliverDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="useTypeId != null" >
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        #{length,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="handlingTypeId != null" >
        #{handlingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="paymentTypeId != null" >
        #{paymentTypeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.GoodsSource" >
    update t_goods_source
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="defaultStatus != null" >
        default_status = #{defaultStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="departureProvinceId != null" >
        departure_province_id = #{departureProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="departureCityId != null" >
        departure_city_id = #{departureCityId,jdbcType=VARCHAR},
      </if>
      <if test="departureAreaId != null" >
        departure_area_id = #{departureAreaId,jdbcType=VARCHAR},
      </if>
      <if test="destinationProvinceId != null" >
        destination_province_id = #{destinationProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="destinationCityId != null" >
        destination_city_id = #{destinationCityId,jdbcType=VARCHAR},
      </if>
      <if test="destinationAreaId != null" >
        destination_area_id = #{destinationAreaId,jdbcType=VARCHAR},
      </if>
      <if test="carTypeId != null" >
        car_type_id = #{carTypeId,jdbcType=VARCHAR},
      </if>
      <if test="tyreNo != null" >
        tyre_no = #{tyreNo,jdbcType=VARCHAR},
      </if>
      <if test="carLength != null" >
        car_length = #{carLength,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
        <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="goodsUnits != null" >
        goods_units = #{goodsUnits,jdbcType=VARCHAR},
      </if>
      <if test="deliverDate != null" >
        deliver_date = #{deliverDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="useTypeId != null" >
        use_type_id = #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="handlingTypeId != null" >
        handling_type_id = #{handlingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="paymentTypeId != null" >
        payment_type_id = #{paymentTypeId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.GoodsSource" >
    update t_goods_source
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      default_status = #{defaultStatus,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      departure_province_id = #{departureProvinceId,jdbcType=VARCHAR},
      departure_city_id = #{departureCityId,jdbcType=VARCHAR},
      departure_area_id = #{departureAreaId,jdbcType=VARCHAR},
      destination_province_id = #{destinationProvinceId,jdbcType=VARCHAR},
      destination_city_id = #{destinationCityId,jdbcType=VARCHAR},
      destination_area_id = #{destinationAreaId,jdbcType=VARCHAR},
      car_type_id = #{carTypeId,jdbcType=VARCHAR},
      tyre_no = #{tyreNo,jdbcType=VARCHAR},
      car_length = #{carLength,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER},
      goods_units = #{goodsUnits,jdbcType=VARCHAR},
      deliver_date = #{deliverDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      use_type_id = #{useTypeId,jdbcType=VARCHAR},
      length = #{length,jdbcType=VARCHAR},
      width = #{width,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      handling_type_id = #{handlingTypeId,jdbcType=VARCHAR},
      payment_type_id = #{paymentTypeId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>