<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.api.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.Order" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="departure" property="departure" jdbcType="VARCHAR" />
    <result column="destination" property="destination" jdbcType="VARCHAR" />
    <result column="car_type_id" property="carTypeId" jdbcType="VARCHAR" />
    <result column="goods_type_id" property="goodsTypeId" jdbcType="VARCHAR" />
    <result column="goods_unit_id" property="goodsUnitId" jdbcType="VARCHAR" />
    <result column="deliver_date" property="deliverDate" jdbcType="TIMESTAMP" />
    <result column="costs" property="costs" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="shipper_id" property="shipperId" jdbcType="VARCHAR" />
    <result column="insurance_id" property="insuranceId" jdbcType="VARCHAR" />
    <result column="repeat_flag" property="repeatFlag" jdbcType="INTEGER" />
  </resultMap>
  
    <resultMap id="BaseResultMapBO" type="com.iflytransporter.common.bean.OrderBO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="SMALLINT" />
    <result column="desp" property="desp" jdbcType="VARCHAR" />
    <result column="departure" property="departure" jdbcType="VARCHAR" />
    <result column="destination" property="destination" jdbcType="VARCHAR" />
    <result column="car_type_id" property="carTypeId" jdbcType="VARCHAR" />
    <result column="goods_type_id" property="goodsTypeId" jdbcType="VARCHAR" />
    <result column="goods_unit_id" property="goodsUnitId" jdbcType="VARCHAR" />
    <result column="deliver_date" property="deliverDate" jdbcType="TIMESTAMP" />
    <result column="costs" property="costs" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="shipper_id" property="shipperId" jdbcType="VARCHAR" />
    <result column="insurance_id" property="insuranceId" jdbcType="VARCHAR" />
    <result column="repeat_flag" property="repeatFlag" jdbcType="INTEGER" />
    <collection property="applyList" ofType="com.iflytransporter.common.bean.OrderApply" column="id" select="getOrderList"></collection>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, create_date, update_date, data_status, desp, departure, destination, car_type_id, 
    goods_type_id, goods_unit_id, deliver_date, costs, remark, status, shipper_id, 
    insurance_id, repeat_flag
  </sql>
   <sql id="Valid_SQL" >
    and data_status = 0
  </sql>
  
   <select id="queryAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where 1 = 1 
    <if test="shipperId != null" >
      and shipper_id  = #{shipperId,jdbcType=VARCHAR}
    </if>
    <if test="status != null" >
      and status  = #{status,jdbcType=VARCHAR}
    </if>
    <include refid ="Valid_SQL"/>
  </select>
  
   <update id="invalidByPrimaryKey" parameterType="java.lang.String" >
    update  t_order set data_status =  ${@com.iflytransporter.common.enums.Status@Status_Valid},update_date = now() 
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="queryBO" resultMap="BaseResultMapBO">
    select 
   <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
   <select id="getOrderList" resultType="com.iflytransporter.common.bean.OrderApply">
    	SELECT id, status,transporter_id as transporterId FROM t_order_apply WHERE order_id=#{id}
    <include refid ="Valid_SQL"/>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  
  <insert id="insert" parameterType="com.iflytransporter.common.bean.Order" >
    insert into t_order (id, create_date, update_date, 
      data_status, desp, departure, 
      destination, car_type_id, goods_type_id, 
      goods_unit_id, deliver_date, costs, 
      remark, status, shipper_id, 
      insurance_id, repeat_flag)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{dataStatus,jdbcType=SMALLINT}, #{desp,jdbcType=VARCHAR}, #{departure,jdbcType=VARCHAR}, 
      #{destination,jdbcType=VARCHAR}, #{carTypeId,jdbcType=VARCHAR}, #{goodsTypeId,jdbcType=VARCHAR}, 
      #{goodsUnitId,jdbcType=VARCHAR}, #{deliverDate,jdbcType=TIMESTAMP}, #{costs,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{shipperId,jdbcType=VARCHAR}, 
      #{insuranceId,jdbcType=VARCHAR}, #{repeatFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.Order" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      <if test="desp != null" >
        desp,
      </if>
      <if test="departure != null" >
        departure,
      </if>
      <if test="destination != null" >
        destination,
      </if>
      <if test="carTypeId != null" >
        car_type_id,
      </if>
      <if test="goodsTypeId != null" >
        goods_type_id,
      </if>
      <if test="goodsUnitId != null" >
        goods_unit_id,
      </if>
      <if test="deliverDate != null" >
        deliver_date,
      </if>
      <if test="costs != null" >
        costs,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="shipperId != null" >
        shipper_id,
      </if>
      <if test="insuranceId != null" >
        insurance_id,
      </if>
      <if test="repeatFlag != null" >
        repeat_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="departure != null" >
        #{departure,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="carTypeId != null" >
        #{carTypeId,jdbcType=VARCHAR},
      </if>
      <if test="goodsTypeId != null" >
        #{goodsTypeId,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnitId != null" >
        #{goodsUnitId,jdbcType=VARCHAR},
      </if>
      <if test="deliverDate != null" >
        #{deliverDate,jdbcType=TIMESTAMP},
      </if>
      <if test="costs != null" >
        #{costs,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="shipperId != null" >
        #{shipperId,jdbcType=VARCHAR},
      </if>
      <if test="insuranceId != null" >
        #{insuranceId,jdbcType=VARCHAR},
      </if>
      <if test="repeatFlag != null" >
        #{repeatFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.Order" >
    update t_order
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null" >
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="departure != null" >
        departure = #{departure,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="carTypeId != null" >
        car_type_id = #{carTypeId,jdbcType=VARCHAR},
      </if>
      <if test="goodsTypeId != null" >
        goods_type_id = #{goodsTypeId,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnitId != null" >
        goods_unit_id = #{goodsUnitId,jdbcType=VARCHAR},
      </if>
      <if test="deliverDate != null" >
        deliver_date = #{deliverDate,jdbcType=TIMESTAMP},
      </if>
      <if test="costs != null" >
        costs = #{costs,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="shipperId != null" >
        shipper_id = #{shipperId,jdbcType=VARCHAR},
      </if>
      <if test="insuranceId != null" >
        insurance_id = #{insuranceId,jdbcType=VARCHAR},
      </if>
      <if test="repeatFlag != null" >
        repeat_flag = #{repeatFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.Order" >
    update t_order
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      departure = #{departure,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      car_type_id = #{carTypeId,jdbcType=VARCHAR},
      goods_type_id = #{goodsTypeId,jdbcType=VARCHAR},
      goods_unit_id = #{goodsUnitId,jdbcType=VARCHAR},
      deliver_date = #{deliverDate,jdbcType=TIMESTAMP},
      costs = #{costs,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      shipper_id = #{shipperId,jdbcType=VARCHAR},
      insurance_id = #{insuranceId,jdbcType=VARCHAR},
      repeat_flag = #{repeatFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>