<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytransporter.api.mapper.ShipperOrderMapper" >
  <resultMap id="BaseResultMap" type="com.iflytransporter.common.bean.Order" >
   <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="data_status" jdbcType="SMALLINT" property="dataStatus" />
    <result column="desp" jdbcType="VARCHAR" property="desp" />
    <result column="departure_province_id" property="departureProvinceId" jdbcType="VARCHAR" />
    <result column="departure_city_id" property="departureCityId" jdbcType="VARCHAR" />
    <result column="departure_area_id" property="departureAreaId" jdbcType="VARCHAR" />
    <result column="destination_province_id" property="destinationProvinceId" jdbcType="VARCHAR" />
    <result column="destination_city_id" property="destinationCityId" jdbcType="VARCHAR" />
    <result column="destination_area_id" property="destinationAreaId" jdbcType="VARCHAR" />
    <result column="car_type_id" jdbcType="VARCHAR" property="carTypeId" />
    <result column="tyre_no" jdbcType="VARCHAR" property="tyreNo" />
    <result column="car_length" jdbcType="INTEGER" property="carLength" />
    <result column="goods_type" jdbcType="VARCHAR" property="goodsType" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="goods_units" jdbcType="VARCHAR" property="goodsUnits" />
    <result column="deliver_date" jdbcType="TIMESTAMP" property="deliverDate" />
    <result column="costs" jdbcType="INTEGER" property="costs" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="shipper_id" jdbcType="VARCHAR" property="shipperId" />
    <result column="insurance_id" jdbcType="VARCHAR" property="insuranceId" />
    <result column="repeat_flag" jdbcType="INTEGER" property="repeatFlag" />
    <result column="use_type_id" jdbcType="VARCHAR" property="useTypeId" />
    <result column="length" jdbcType="VARCHAR" property="length" />
    <result column="width" jdbcType="VARCHAR" property="width" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="handling_type_id" jdbcType="VARCHAR" property="handlingTypeId" />
    <result column="payment_type_id" jdbcType="VARCHAR" property="paymentTypeId" />
    <result column="auth_status" jdbcType="INTEGER" property="authStatus" />
    <result column="auth_date" jdbcType="TIMESTAMP" property="authDate" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
  </resultMap>

  
  <sql id="Base_Column_List" >
     id, create_date, update_date, data_status, desp, departure_province_id, departure_city_id, 
    departure_area_id, destination_province_id, destination_city_id, destination_area_id, 
    car_type_id, tyre_no, car_length, goods_type, goods_units, deliver_date, costs, remark, 
    status, shipper_id, insurance_id, repeat_flag, use_type_id, length, width, height, handling_type_id, 
    payment_type_id, auth_status, auth_date,order_no,company_id,weight
  </sql>
   <sql id="Valid_SQL" >
    and data_status = 0
  </sql>
  
   <select id="queryAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where 1 = 1 
    <if test="shipperId != null" >
      and shipper_id  = #{shipperId,jdbcType=VARCHAR}
    </if>
    <if test="status != null" >
      and status  = #{status,jdbcType=VARCHAR}
    </if>
     <if test="status == null" >
      and status  != ${@com.iflytransporter.common.enums.Status@Order_Publish}
    </if>
      and auth_status  = ${@com.iflytransporter.common.enums.Status@Order_Auth_Yes}
    <include refid ="Valid_SQL"/>
  </select>
  
   <select id="queryAllAuth" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where 1 = 1 
    <if test="companyId != null" >
      and company_id  = #{companyId,jdbcType=VARCHAR}
    </if>
    <if test="shipperId != null" >
      and shipper_id  = #{shipperId,jdbcType=VARCHAR}
    </if>
     <if test="authStatus != null" >
      and auth_status  = #{authStatus,jdbcType=INTEGER}
    </if>
    <include refid ="Valid_SQL"/>
  </select>
  
   <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update  t_order set data_status =  ${@com.iflytransporter.common.enums.Status@Status_Invalid},update_date = now() 
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateStatus">
    update  t_order 
     <set>
       <if test="status != null">
        status = #{status,jdbcType=INTEGER},
       </if>
        update_date =  now(),
      </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
   <update id="updateAuthStatus">
    update  t_order set
       <if test="authStatus != null">
        auth_status = #{authStatus,jdbcType=INTEGER},
       </if>
        auth_date =  now(),
        update_date =  now()
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="detailAudit" resultType="java.util.HashMap">
  	select b.id applyId,b.order_id as orderId,convert(b.costs,char)as costs,b.transporter_id as transporterId,c.surname,c.`name`,c.create_date as registerDate,d.id companyId,d.`name` companyName,
  	ifnull(round(e.grade),5) as grade,ifnull(f.count,0) as count,b.contact_status as contactStatus
	from t_order a
	left join t_order_apply b on a.id = b.order_id  
	left JOIN t_user c on b.transporter_id = c.id
	left join t_company d on c.company_id = d.id
	left join (select transporter_id,AVG(IFNULL(serve_grade,0)+IFNULL(loading_grade,0)+IFNULL(goods_grade,0))/3 as grade
	from t_comment GROUP BY transporter_id) e on b.transporter_id = e.transporter_id
	left join (select transporter_id ,count(1) as count from t_waybill GROUP BY transporter_id) f on b.transporter_id = f.transporter_id
 where a.id = #{id,jdbcType=VARCHAR} and b.status =  #{applyStatus,jdbcType=INTEGER}
  </select>
  
   <select id="detailTransporter" resultType="java.util.HashMap">
  	select a.id applyId,a.order_id as orderId,convert(a.costs,char)as costs,a.transporter_id as transporterId,c.surname,
	c.`name`,c.mobile,c.create_date as registerDate,d.id companyId,d.`name` companyName,
	 ifnull(round(e.serveGrade),5) as serveGrade,ifnull(round(e.loadingGrade),5) as loadingGrade, ifnull(round(e.goodsGrade),5) as goodsGrade,ifnull(f.count,0) as count,
	 ifnull(e.commentCount,0) as commentCount,
	ifnull(round(j.grade),5) as grade
	from t_order_apply a
	left JOIN t_user c on a.transporter_id = c.id
	left join t_company d on c.company_id = d.id
	left join 
	(
	select transporter_id,count(1) as commentCount ,
	AVG(IFNULL(serve_grade,0))as serveGrade,AVG(IFNULL(loading_grade,0))as loadingGrade,AVG(IFNULL(goods_grade,0)) as goodsGrade from t_comment GROUP BY transporter_id
	) e on a.transporter_id = e.transporter_id
	left join (
	select transporter_id,AVG(IFNULL(serve_grade,0)+IFNULL(loading_grade,0)+IFNULL(goods_grade,0))/3 as grade
	from t_comment GROUP BY transporter_id
	) j on a.transporter_id = j.transporter_id
	left join (select transporter_id ,count(1) as count from t_waybill GROUP BY transporter_id) f on a.transporter_id = f.transporter_id
 where a.id = #{applyId,jdbcType=VARCHAR} and a.status =  #{applyStatus,jdbcType=INTEGER} and a.contact_status =#{contactStatus,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  
  <insert id="insert" parameterType="com.iflytransporter.common.bean.Order">
    insert into t_order (id, update_date, 
       desp, departure_province_id, 
      departure_city_id, departure_area_id, destination_province_id, 
      destination_city_id, destination_area_id, car_type_id, 
      tyre_no, car_length, goods_type, 
      goods_units, deliver_date, costs, 
      remark, status, shipper_id, 
      insurance_id, repeat_flag, use_type_id, 
      length, width, height, 
      handling_type_id, payment_type_id, auth_status, 
      auth_date, order_no,company_id,weight)
    values (#{id,jdbcType=VARCHAR}, now(), 
       #{desp,jdbcType=VARCHAR}, #{departureProvinceId,jdbcType=VARCHAR}, 
      #{departureCityId,jdbcType=VARCHAR}, #{departureAreaId,jdbcType=VARCHAR}, #{destinationProvinceId,jdbcType=VARCHAR}, 
      #{destinationCityId,jdbcType=VARCHAR}, #{destinationAreaId,jdbcType=VARCHAR}, #{carTypeId,jdbcType=VARCHAR}, 
      #{tyreNo,jdbcType=VARCHAR}, #{carLength,jdbcType=INTEGER}, #{goodsType,jdbcType=VARCHAR}, 
      #{goodsUnits,jdbcType=VARCHAR}, #{deliverDate,jdbcType=TIMESTAMP}, #{costs,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{shipperId,jdbcType=VARCHAR}, 
      #{insuranceId,jdbcType=VARCHAR}, #{repeatFlag,jdbcType=INTEGER}, #{useTypeId,jdbcType=VARCHAR}, 
      #{length,jdbcType=VARCHAR}, #{width,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, 
      #{handlingTypeId,jdbcType=VARCHAR}, #{paymentTypeId,jdbcType=VARCHAR}, #{authStatus,jdbcType=INTEGER}, 
      #{authDate,jdbcType=TIMESTAMP}, #{orderNo,jdbcType=VARCHAR},#{companyId,jdbcType=VARCHAR},#{weight,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iflytransporter.common.bean.Order">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="dataStatus != null">
        data_status,
      </if>
      <if test="desp != null">
        desp,
      </if>
      <if test="departureProvinceId != null">
        departure_province_id,
      </if>
      <if test="departureCityId != null">
        departure_city_id,
      </if>
      <if test="departureAreaId != null">
        departure_area_id,
      </if>
      <if test="destinationProvinceId != null">
        destination_province_id,
      </if>
      <if test="destinationCityId != null">
        destination_city_id,
      </if>
      <if test="destinationAreaId != null">
        destination_area_id,
      </if>
      <if test="carTypeId != null">
        car_type_id,
      </if>
      <if test="tyreNo != null">
        tyre_no,
      </if>
      <if test="carLength != null">
        car_length,
      </if>
      <if test="goodsType != null">
        goods_type,
      </if>
      <if test="goodsUnits != null">
        goods_units,
      </if>
      <if test="deliverDate != null">
        deliver_date,
      </if>
      <if test="costs != null">
        costs,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="shipperId != null">
        shipper_id,
      </if>
      <if test="insuranceId != null">
        insurance_id,
      </if>
      <if test="repeatFlag != null">
        repeat_flag,
      </if>
      <if test="useTypeId != null">
        use_type_id,
      </if>
      <if test="length != null">
        length,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="handlingTypeId != null">
        handling_type_id,
      </if>
      <if test="paymentTypeId != null">
        payment_type_id,
      </if>
      <if test="authStatus != null">
        auth_status,
      </if>
      <if test="authDate != null">
        auth_date,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
        <if test="companyId != null">
        company_id,
      </if>
        <if test="weight != null">
        weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null">
        #{desp,jdbcType=VARCHAR},
      </if>
      <if test="departureProvinceId != null">
        #{departureProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="departureCityId != null">
        #{departureCityId,jdbcType=VARCHAR},
      </if>
      <if test="departureAreaId != null">
        #{departureAreaId,jdbcType=VARCHAR},
      </if>
      <if test="destinationProvinceId != null">
        #{destinationProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="destinationCityId != null">
        #{destinationCityId,jdbcType=VARCHAR},
      </if>
      <if test="destinationAreaId != null">
        #{destinationAreaId,jdbcType=VARCHAR},
      </if>
      <if test="carTypeId != null">
        #{carTypeId,jdbcType=VARCHAR},
      </if>
      <if test="tyreNo != null">
        #{tyreNo,jdbcType=VARCHAR},
      </if>
      <if test="carLength != null">
        #{carLength,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnits != null">
        #{goodsUnits,jdbcType=VARCHAR},
      </if>
      <if test="deliverDate != null">
        #{deliverDate,jdbcType=TIMESTAMP},
      </if>
      <if test="costs != null">
        #{costs,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="shipperId != null">
        #{shipperId,jdbcType=VARCHAR},
      </if>
      <if test="insuranceId != null">
        #{insuranceId,jdbcType=VARCHAR},
      </if>
      <if test="repeatFlag != null">
        #{repeatFlag,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        #{length,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        #{width,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="handlingTypeId != null">
        #{handlingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="paymentTypeId != null">
        #{paymentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="authStatus != null">
        #{authStatus,jdbcType=INTEGER},
      </if>
      <if test="authDate != null">
        #{authDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
       <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
       <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iflytransporter.common.bean.Order">
    update t_order
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null">
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="desp != null">
        desp = #{desp,jdbcType=VARCHAR},
      </if>
      <if test="departureProvinceId != null">
        departure_province_id = #{departureProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="departureCityId != null">
        departure_city_id = #{departureCityId,jdbcType=VARCHAR},
      </if>
      <if test="departureAreaId != null">
        departure_area_id = #{departureAreaId,jdbcType=VARCHAR},
      </if>
      <if test="destinationProvinceId != null">
        destination_province_id = #{destinationProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="destinationCityId != null">
        destination_city_id = #{destinationCityId,jdbcType=VARCHAR},
      </if>
      <if test="destinationAreaId != null">
        destination_area_id = #{destinationAreaId,jdbcType=VARCHAR},
      </if>
      <if test="carTypeId != null">
        car_type_id = #{carTypeId,jdbcType=VARCHAR},
      </if>
      <if test="tyreNo != null">
        tyre_no = #{tyreNo,jdbcType=VARCHAR},
      </if>
      <if test="carLength != null">
        car_length = #{carLength,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null">
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnits != null">
        goods_units = #{goodsUnits,jdbcType=VARCHAR},
      </if>
      <if test="deliverDate != null">
        deliver_date = #{deliverDate,jdbcType=TIMESTAMP},
      </if>
      <if test="costs != null">
        costs = #{costs,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="shipperId != null">
        shipper_id = #{shipperId,jdbcType=VARCHAR},
      </if>
      <if test="insuranceId != null">
        insurance_id = #{insuranceId,jdbcType=VARCHAR},
      </if>
      <if test="repeatFlag != null">
        repeat_flag = #{repeatFlag,jdbcType=INTEGER},
      </if>
      <if test="useTypeId != null">
        use_type_id = #{useTypeId,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        length = #{length,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="handlingTypeId != null">
        handling_type_id = #{handlingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="paymentTypeId != null">
        payment_type_id = #{paymentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="authStatus != null">
        auth_status = #{authStatus,jdbcType=INTEGER},
      </if>
      <if test="authDate != null">
        auth_date = #{authDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
       <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
       <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iflytransporter.common.bean.Order">
    update t_order
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      desp = #{desp,jdbcType=VARCHAR},
      departure_province_id = #{departureProvinceId,jdbcType=VARCHAR},
      departure_city_id = #{departureCityId,jdbcType=VARCHAR},
      departure_area_id = #{departureAreaId,jdbcType=VARCHAR},
      destination_province_id = #{destinationProvinceId,jdbcType=VARCHAR},
      destination_city_id = #{destinationCityId,jdbcType=VARCHAR},
      destination_area_id = #{destinationAreaId,jdbcType=VARCHAR},
      car_type_id = #{carTypeId,jdbcType=VARCHAR},
      tyre_no = #{tyreNo,jdbcType=VARCHAR},
      car_length = #{carLength,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      goods_units = #{goodsUnits,jdbcType=VARCHAR},
      deliver_date = #{deliverDate,jdbcType=TIMESTAMP},
      costs = #{costs,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      shipper_id = #{shipperId,jdbcType=VARCHAR},
      insurance_id = #{insuranceId,jdbcType=VARCHAR},
      repeat_flag = #{repeatFlag,jdbcType=INTEGER},
      use_type_id = #{useTypeId,jdbcType=VARCHAR},
      length = #{length,jdbcType=VARCHAR},
      width = #{width,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      handling_type_id = #{handlingTypeId,jdbcType=VARCHAR},
      payment_type_id = #{paymentTypeId,jdbcType=VARCHAR},
      auth_status = #{authStatus,jdbcType=INTEGER},
      auth_date = #{authDate,jdbcType=TIMESTAMP},
      order_no = #{orderNo,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
       weight = #{weight,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
 
  </mapper>